body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
    color: #fff;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    position: relative;
}

button i {
    margin-left: 10px;  /* Espacio entre el texto y el icono */
}

button:hover {
    background-color: #45a049;
}

/* Estilos para el icono de reproducción */
.fa-play {
    font-size: 1.2em;  /* Tamaño del icono */
    vertical-align: middle;
}
